@model PeaceApp.UI.StudentWeb.Models.StudentViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<table class="table">
    <thead class="thread inver">

        <tr>

            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
        </tr>



    </thead>

    <tbody>

        @foreach (var student in Model.StudentsList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => student.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.Age)
                </td>
                <td>
                    @Html.ActionLink("Update", "Update", new { studentId = student.Id }) |
                    <a class="remove" data-id="@student.Id" href="javascript:void(0)">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        $(function () {
            $("a.remove").click(function () {
                var element = $(this);
                var studentID = element.data("id");

                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("Delete")",
                    data: JSON.stringify({ studentID }),
                    success: function () {
                    },
                    dataType: "json"
                });
            });
        })
    </script>
}

