@model PeaceApp.UI.StudentWeb.Models.StudentViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<table class="table">
    <thead class="thread inver">

        <tr>

            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
        </tr>



    </thead>

    <tbody>

        @foreach (var student in Model.StudentsList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => student.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => student.Age)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { Id = student.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { Id = student.Id }, new { @class = "control-label" })
                </td>


            </tr>

        }


    </tbody>
</table>




